<div class="footer">
<p >
	<p>&copy; 2020 <i class="fa fa-heart"></i>Foodista.com<br>
		Developed By<i class="fas fa-code"></i>
<span class="credit">Hrushikesh Rasne</span><p>
</p>
</div>
</body>
</html>